html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

:root {
    font-family: 'Raleway', sans-serif;
    color: #8c8c8c
}

main {
    background-color: #333333;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.big-tilde {
    font-size: 16rem;
    border: 2px solid #8c8c8c;
    border-radius: 8px;
    width: 16rem;
    height: 16rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.big-tilde:active { 
    transform: scale(0.98); 
    /* Scaling button to 0.98 to its original size */ 
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24); 
    /* Lowering the shadow */ 
} 

p {
    margin-bottom: 0;
    text-align: center;
}